@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
      transition: inherit;
  }

  html {
    font-size: clamp(14px, 2vw, 16px);
  }

  body {
    @apply
    text-black dark:text-white
    bg-white dark:bg-dark
    selection:text-white selection:bg-purple
    transition-colors duration-300 ease-out
  }

  #app {
    @apply
    min-h-[100vh]
    flex flex-col justify-between
  }

  h1 {
    @apply
    text-3xl md:text-5xl
    font-semibold
    
  }
  
  h2 {
    @apply
    text-2xl md:text-4xl
    font-semibold
  }

  h3 {
    @apply
    text-xl md:text-3xl
    font-medium
  }

  h4 {
    @apply
    text-lg md:text-2xl
    font-medium
  }

  h5 {
    @apply
    text-base md:text-xl
    font-medium
  }

  h6 {
    @apply
    text-sm md:text-lg
    font-medium
    text-purple;
  }

  a {
    @apply
    font-medium
  }
}
